<nav class="navbar">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
  <div class="navbar-left">
    <a routerLink="/home" class="logo-button">
      <img src="http://imgfz.com/i/v1MdXnP.png" alt="Click&Go Logo" class="logo" />
    </a>

  
    <div class="ubicacion">
      <span class="material-icons">location_on</span>
      <span> Mi Ubicación</span>
    </div>
  </div>

  
  <div class="navbar-center">
    <input type="text" placeholder="Buscar Producto" class="search-input" />
    <button class="search-button">
      <span class="material-icons">search</span>
    </button>
  </div>

  
  <div class="acciones">
    <a href="/register"><button class="btn-light">Regístrate</button></a>
    <a href="/login"><button class="btn-light">Acceder</button></a>
  </div>
</nav>


